[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extensions = "*"
django-registration-redux = "*"
Faker = "*"
django-local-settings = "*"
"psycopg2" = "*"
gunicorn = "*"
django-heroku = "*"
# django-faker = "*"
# django-test-plus = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
